<!-- Begin Of footer -->
<footer>
    <div class="footer_middle" style="background-color: #009dde;">
        <div class="footer_middle_content">
            <div class="container_fluid">
                <div class="Items_Footer_Content" style="color:#ffffff;justify-content: space-around;">
                    <div class="Items_Content Item1" style=" top: -20px;">
                        <h4 class="Title_middle_footer">Về Các thành viên nhóm</h4>

                        <div class="Content_Social">
                            <p style="font-size: 19px; display: inline-block;">

                                Đỗ Anh Việt
                                <div class="Contact_FacebookSocial" style="width: 20%; display: inline-block;">
                                    <a href="https://www.facebook.com/anhziettt" alt="facebook" class="Link_Social" style="width: 32px; height: 32px; line-height: 30px; font-size: 14px; background-color: transparent; border: 2px solid #eae4e8; color: #333333; display: inline-block; text-align: center; border-radius: 4px; transition: 0.4s; text-decoration: none; margin-left:12px;"><i class="ti-facebook logoSocial"></i></a>
                                </div>
                            </p>

                            <p style="font-size: 19px; display: inline-block;">

                                Nguyễn Thanh Toàn

                                <div class="Contact_FacebookSocial" style="width: 20%; display: inline-block;">
                                    <a href="https://www.facebook.com/ngao.be.963434/" alt="facebook" class="Link_Social" style="width: 32px; height: 32px; line-height: 30px; font-size: 14px; background-color: transparent; border: 2px solid #eae4e8; color: #333333; display: inline-block; text-align: center; border-radius: 4px; transition: 0.4s; text-decoration: none; margin-left:12px;"><i class="ti-facebook logoSocial"></i></a>
                                </div>

                            </p>



                            <p style="font-size: 19px; display: inline-block;">

                                Đặng Thanh Hòa

                                <div class="Contact_FacebookSocial" style="width: 20%; display: inline-block;">
                                    <a href="https://www.facebook.com/dang.hoa.718689" alt="facebook" class="Link_Social" style="width: 32px; height: 32px; line-height: 30px; font-size: 14px; background-color: transparent; border: 2px solid #eae4e8; color: #333333; display: inline-block; text-align: center; border-radius: 4px; transition: 0.4s; text-decoration: none; margin-left:12px;"><i class="ti-facebook logoSocial"></i></a>
                                </div>

                            </p>




                            <p style="font-size: 19px; display: inline-block;">

                                Phan Gia Khang

                                <div class="Contact_FacebookSocial" style="width: 20%; display: inline-block;">
                                    <a href="https://www.facebook.com/khqphn" alt="facebook" class="Link_Social" style="width: 32px; height: 32px; line-height: 30px; font-size: 14px; background-color: transparent; border: 2px solid #eae4e8; color: #333333; display: inline-block; text-align: center; border-radius: 4px; transition: 0.4s; text-decoration: none; margin-left:12px;"><i class="ti-facebook logoSocial"></i></a>
                                </div>

                            </p>




                            <p style="font-size: 19px; display: inline-block;">

                                Vũ Trần Ngọc Huân
                                <div class="Contact_FacebookSocial" style="width: 20%; display: inline-block;">
                                    <a href="https://www.facebook.com/huan.vu.142687" alt="facebook" class="Link_Social" style="width: 32px; height: 32px; line-height: 30px; font-size: 14px; background-color: transparent; border: 2px solid #eae4e8; color: #333333; display: inline-block; text-align: center; border-radius: 4px; transition: 0.4s; text-decoration: none; margin-left:12px;"><i class="ti-facebook logoSocial"></i></a>
                                </div>
                            </p>
                        </div>
                    </div>


                    <div class="Items_Content Item2" style=" top: -20px;">
                        <h4 class="Title_middle_footer">Thông tin liên hệ</h4>

                        <div class="Content_Address">

                            <p style="font-size: 19px; display: inline-block; margin-right: 12px;">

                                Đỗ Anh Việt
                                <div class="Contact_FacebookSocial" style="width: 41%; display: inline-block; border-radius: 25px; border: 2px solid #ffff; ">
                                    <span style="font-size: 16px; margin-left: 6px;">09</span>
                                </div>
                            </p>

                            <p style="font-size: 19px; display: inline-block; margin-right: 12px;">

                                Nguyễn Thanh Toàn

                                <div class="Contact_FacebookSocial" style="width: 41%; display: inline-block; border-radius: 25px; border: 2px solid #ffff; ">
                                    <span style="font-size:16px;margin-left:6px;">09</span>
                                </div>

                            </p>



                            <p style="font-size: 19px; display: inline-block; margin-right: 12px;">

                                Đặng Thanh Hòa

                                <div class="Contact_FacebookSocial" style="width: 41%; display: inline-block; border-radius: 25px; border: 2px solid #ffff; ">
                                    <span style="font-size: 16px; margin-left: 6px;">09</span>
                                </div>

                            </p>




                            <p style="font-size: 19px; display: inline-block; margin-right: 12px;">

                                Phan Gia Khang

                                <div class="Contact_FacebookSocial" style="width: 41%; display: inline-block; border-radius: 25px; border: 2px solid #ffff; ">
                                    <span style="font-size: 16px; margin-left: 6px;">09</span>
                                </div>

                            </p>




                            <p style="font-size: 19px; display: inline-block; margin-right: 12px;">

                                Vũ Trần Ngọc Huân
                                <div class="Contact_FacebookSocial" style=" width: 41%; display: inline-block; border-radius: 25px; border: 2px solid #ffff; ">
                                 
                                    <span style="font-size: 16px; margin-left: 6px;">09</span>
                                    
                                </div>
                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_bottom">
            <div class="container">
                <p>
                    Copyright © 2024 Bản quyền của các thành viên trường Huflit có mã nhóm là 052-G14 Môn lập trình web 
                    Với giáo viên điều hành môn là cô Bùi Thị Thanh Tú
                </p>
            </div>
        </div>
    </div>
</footer>
<!--End of footer-->




@* JavaScript For Header *@
<script language="javascript">

</script>