@{
    Layout = "~/Views/Shared/_ProductDetailsLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/CSS/LoginPage.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý đơn hàng</title>
    <link rel="stylesheet" href="~/Content/CSS/CustomerLayout.css">
    <link rel="stylesheet" href="~/Content/Icon/themify-icons-font/themify-icons/themify-icons.css">
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <span class="active">Đăng nhập</span> |
            <span class="inactive"><a href="/Register/RegisterPage" class="Link_inactive">Đăng ký</a></span>
        </div>
        <form class="login-form">
            <input type="email" placeholder="Vui lòng nhập email của bạn" required>
            <input type="password" placeholder="Vui lòng nhập mật khẩu" required>
            <p class="captcha-info">
                This site is protected by reCAPTCHA and the Google
                <a href="#">Privacy Policy</a> and
                <a href="#">Terms of Service</a> apply.
            </p>
            <button type="submit" class="login-button">ĐĂNG NHẬP</button>
        </form>
        <div class="login-footer">
            <p>Bạn chưa có tài khoản? <a href="#">Quên mật khẩu?</a></p>
            <p>Bạn quên mật khẩu? <a href="/Register/RegisterPage">Đăng ký</a></p>
        </div>
    </div>
</body>
</html>
