@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/CSS/HomePage.css" />

<section class="HomePage_Category">
    <div class="container_fluid">
        <div class="List_Item">
            <div class="Category_Items col-lg col-md-6 col-6">
                <div class="Category_Items_Inner">
                    <div class="Category_Items_Img">
                        <a href="#">
                            <img src="~/Content/IMG/Banner5.png" />
                        </a>
                    </div>
                </div>
            </div>


            <div class="Category_Items col-lg col-md-6 col-6">
                <div class="Category_Items_Inner">
                    <div class="Category_Items_Img">
                        <a href="#">
                            <img src="~/Content/IMG/Banner6.png" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="Category_Items col-lg col-md-6 col-6">
                <div class="Category_Items_Inner">
                    <div class="Category_Items_Img">
                        <a href="#">
                            <img src="~/Content/IMG/Banner7.png" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="Category_Items col-lg col-md-6 col-6">
                <div class="Category_Items_Inner">
                    <div class="Category_Items_Img">
                        <a href="#">
                            <img src="~/Content/IMG/Banner8.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="HomePage_Collection_Items_Discount">
    <div class="container_fluid">
        <div class="Main_Collection">
            <div class="Box_List_Product_Discount">
                <div class="Tittle Box_List_Header_Top">
                    <h2 class="hTittle">
                        <a href="#">
                            ⚡️ KHUYẾN MẠI SHOCK NHẤT 🔥
                        </a>
                    </h2>
                </div>



                <div class=" owl-loaded List_Item Box_List_Header_Middle owl-carousel">
                    <div class="Owl-stage-outer">
                        <div class="Owl-stage" style="width:2412px">
                            <div class="Owl-item" style=" width: 280px">
                                <div class="Product_Loop">
                                    <div class="Product_Inner">
                                        <div class="ProductLoop_Img">
                                            <div class="Product_Img">
                                                <div class="lazy-img first-img">
                                                    <img src="~/Content/IMG/Product_Items_Img/CollectionProduct_9.png" />
                                                </div>
                                            </div>
                                        </div>


                                        <div class="Product_Loop_Details">
                                            <div class="proloop--top"></div>

                                            <h3>
                                                <a href="#" class="quickview-product">
                                                    PC FASTER GAMING 10400F - RTX 3050 6GB ( ALL NEW- Bảo hành 36 Tháng)- 20 slots- 10 HN- 10 HCM
                                                </a>
                                            </h3>

                                            <div class="proloop-variant">
                                                <span>+2 Ram</span>
                                            </div>

                                            <div class="Price_ProLoop">
                                                <div class="Price_Box">
                                                    <span class="Discount_Price">9,990,000₫</span>
                                                    <span class="OriginalPrice"><del>11,990,000₫</del></span>
                                                </div>

                                                <div class="Price_Sell">
                                                    <span class="Pro_Sale">-17%</span>
                                                </div>
                                            </div>

                                            <div class="Btn_AddOnCart">
                                                <div class="Inside_Btn_AddOnCart">
                                                    <div class="Box_Cart">
                                                        <button type="submit" class="btn-proloop-cart add-to-cart  btn-addcart-view ">
                                                            <span class="Tittle">Thêm vào giỏ hàng</span>
                                                            <span class="Icon">
                                                                <i class="fas fa-wallet"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="Box_Link Box_List_Header_Middle">
                    <a href="#" class="Button">

                        Xem tất cả ⚡️ KHUYẾN MẠI SHOCK NHẤT 🔥

                        <span class="icon">
                        <i class="fas fa-long-arrow-alt-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>