@model WebBanMayTinh.Models.ViewModel.ProductDetailsVM


<div class="Product_Action_Choose_For_Get_MoreST">
    <form id="Add_Item_Form clearfix" action="" class="variants">
        <div class="Select_Watch clearfix">
            <div id="Variant_swatch_Item1" class="Box_Choose">
                <div class="Tittle">
                    Ram:
                </div>

                <div class="select_Swap">
                    <div class="SwitchElement Ram16gb">
                        <label class="Lb">
                            <span>Ram 16GB</span>
                        </label>
                    </div>

                    <div class="SwitchElement Ram32gb">
                        <label class="Lb">
                            <span>Ram 32Gb</span>
                        </label>
                    </div>
                </div>
            </div>




            <div id="Variant_swatch_Item2" class="Box_Choose">
                <div class="Tittle">
                    Cpu:
                </div>

                <div class="select_Swap">
                    <div class="SwitchElement i5-12400f-tan-khi">
                        <label class="Lb">
                            <span>i5 12400F + Tản khí</span>
                        </label>
                    </div>


                    <div class="SwitchElement i5-12400f-tan-nuoc-aio-240">
                        <label class="Lb">
                            <span>i5 12400F +  Tản nước AIO 240</span>
                        </label>
                    </div>


                    <div class="SwitchElement i5-13400f-tan-nuoc-aio-240">
                        <label class="Lb">
                            <span>i5 13400F + Tản nước AIO 240</span>
                        </label>
                    </div>



                    <div class="SwitchElement i5-13500-Tan-nuoc-AIO-240">
                        <label class="Lb">
                            <span>i5 13500 + Tản nước AIO 240</span>
                        </label>
                    </div>
                </div>
            </div>




            <div id="Variant_swatch_Item3" class="Box_Choose">
                <div class="Tittle">
                    SSD:
                </div>

                <div class="select_Swap">
                    <div class="SwitchElement SSD500GB">
                        <label class="Lb">
                            <span>SSD 500GB</span>
                        </label>
                    </div>

                    <div class="SwitchElement SSD1TB">
                        <label class="Lb">
                            <span>SSD 1TB</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
