@model WebBanMayTinh.Models.ViewModel.ProductDetailsVM


<div class="RightSideBox_Container">
    <div class="WBox-detail">
        <div class="Product_Delivery">
            <div class="Deliverly_inner">
                <div class="Title_Deliverly">
                    <span>Chính sách bán hàng</span>
                </div>

                <div class="info_List_Deliverly">
                    <div class="Deliverly_Item">
                        <span>
                            <img src="~/Content/IMG/Product_Page_Img/product_deliverly_1_ico.png" />
                        </span>
                        Cam kết 100% chính hãng
                    </div>

                    <div class="Deliverly_Item">
                        <span>
                            <img src="~/Content/IMG/Product_Page_Img/product_deliverly_3_ico.png" />
                        </span>
                        Hỗ trợ 24/7
                    </div>
                </div>
            </div>

            <div class="Deliverly_inner" style="max-width:100%;flex:0 0 100%;">
                <div class="Title_Deliverly">
                    <span>Thông tin thêm</span>
                </div>

                <div class="info_List_Deliverly">
                    <div class="Deliverly_Item">
                        <span>
                            <img src="~/Content/IMG/Product_Page_Img/product_deliverly_4_ico.png" />
                        </span>
                        Hoàn tiền 111% nếu hàng giả
                    </div>

                    <div class="Deliverly_Item">
                        <span>
                            <img src="~/Content/IMG/Product_Page_Img/product_deliverly_5_ico.png" />
                        </span>
                        Mở hộp kiểm tra nhận hàng
                    </div>

                    <div class="Deliverly_Item">
                        <span>
                            <img src="~/Content/IMG/Product_Page_Img/product_deliverly_6_ico.png" />
                        </span>
                        Đổi trả trong 7 ngày
                    </div>
                </div>
            </div>
        </div>
        <div class="Product_Advertise">
            <a href="#">
                <img src="~/Content/IMG/Product_Page_Img/product_banner.png" />
            </a>
        </div>
    </div>
</div>
