@model WebBanMayTinh.Models.ViewModel.ProductDetailsVM


<div class="Product_SharingSocial">
    <span>Chia sẻ</span>
    <a href="" class="Share_FaceBook">
        <i class="ti-facebook"></i>
    </a>

    <a href="" class="Share_Instagram">
        <i class="ti-instagram"></i>
    </a>

    <a href="" class="Share_Mess">
        <i class="fab fa-facebook-messenger"></i>
    </a>

    <a href="" class="Share_Twitter">
        <i class="fab fa-twitter"></i>
    </a>
</div>
