<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header and Footer design</title>
    <link rel="stylesheet" href="~/Content/CSS/CustomerLayout.css">
    <link rel="stylesheet" href="~/Content/Icon/themify-icons-font/themify-icons/themify-icons.css">

    @*Font-awesome*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div class="main">

        @Html.Partial("~\\Views\\Shared\\Partital_View\\PV_Header_Layout.cshtml", new WebBanMayTinh.Models.ViewModel.SearchVM());





        @*@Html.Partial("~\\Views\\Shared\\Partital_View\\PV_Categories.cshtml", ViewContext);*@



        <!--Begin at Content-->
        <div class="Main_Content">
            @RenderBody();
        </div>
        <!---End Content-->


        @Html.Partial("~\\Views\\Shared\\Partital_View\\PV_Footer_Layout.cshtml", ViewContext);

    </div>
</body>
</html>
