<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header with Footer design</title>
    <link rel="stylesheet" href="~/Content/CSS/MasterLayout.css">
    <link rel="stylesheet" href="~/Content/Icon/themify-icons-font/themify-icons/themify-icons.css">
</head>

<body>

    <!-- Begin at Header -->
    <div class="main Header">
        <div class="header">
            <div id="BG_FirstHeader">
                <div class="container_fluid">
                    <div class="box_Cotent_FirstHeader DFlex align_item_center justif_content_between ">
                        <div class="First_Header DFlex flex_NoWrap">
                            <div class="contact">
                                <span class="Title_contact">
                                    Hotline: 0968 239 497 - 097 221 6881 * Tư vấn build PC:
                                    0986552233 * Địa chỉ: CS1: 180D Thái Thịnh CS2: 83-85 Thái Hà - Đống Đa - Hà Nội
                                    CS3: 40 Đường Vĩnh Viễn - Q10 - TP.HCM
                                </span>
                            </div>

                            <div class="Shopper_Contact">
                                <a href="https://shopee.vn/tructiepgameofficialstore?utm_campaign=-&utm_content=homeshopeeweb----&utm_medium=affiliates&utm_source=an_17391710002&utm_term=bu6z9fwikv5u"
                                   class="Shoppe_Link">Mua tại shoppe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="BG_MiddleHeader">
                <div class="container_fluid">
                    <div class="flex_container_MiddleHeader">
                        <div class="Header_Logo">
                            <img src="~/Content/IMG/logo.jpg" alt="TTG_Shop_logo" class="logo">
                        </div>

                        <div class="Header_search">
                            <form action="" class="Form_Search">
                                <div class="Searching_Input">
                                    <input type="text" name="p" id="Searching" required size="20" maxlength="40"
                                           placeholder="Tìm kiếm sản phẩm" class="FindingProduct">
                                </div>

                                <button type="submit" class="btn_Finding">
                                    <i class="ti-search Finding_Icon"></i>
                                </button>
                            </form>
                        </div>

                        <div class="Header_Account_Shop">
                            <div class="flex_Container_Account">
                                <div class="Box_Account_Shop">
                                    <div class="Account">
                                        <button type="button" title="tai_khoan" class="Header_btn_account">
                                            <span class="Account_icon">
                                                <span class="IconUser">
                                                    <i class="ti-user UserIcon"></i>
                                                </span>
                                            </span>

                                            <span class="box_text_account">
                                                Đăng nhập / Đăng kí
                                                <span class="box_text_MyAccount">
                                                    Tài khoản của tôi <i class="ti-angle-down DownIcon"></i>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                </div>

                                <div class="ShopCart">
                                    <div class="Header_ShoppingCart">
                                        <button type="button" label="Gio Hang" class="Btn_Cart">
                                            <span class="Box_Icon_ShoppingCart">
                                                <span>
                                                    <i class="ti-shopping-cart Icon_ShoppingCart"></i>
                                                </span>

                                                <span class="Count_BG">
                                                    <span class="Count">0</span>
                                                </span>
                                            </span>

                                            <span class="Text_Cart">Giỏ Hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div
                    </div>
                </div>
            </div>

            <div class="BG_last">
                <div class="container_fluid">
                    <div class="navigation_Menu">
                        <div class="Box_Menu">
                            <span>
                                <i class="ti-layout-menu-v Icon_Menu"></i>
                                <p class="Text_menu">Danh muc san pham</p>
                            </span>
                        </div>
                    </div>

                    <div class="Sologan_Shop">
                        <div class="box_Sologan_policy">
                            <ul>
                                <li class="Box_Sologan">
                                    <div class="box_text_sologan">
                                        <i class="ti-check icon_Approve"></i> Đảm bảo chất lượng
                                    </div>
                                </li>

                                <li class="Box_Sologan">
                                    <div class="box_text_sologan">
                                        <i class="ti-truck icon_Approve"></i> Vận chuyển siêu tốc
                                    </div>
                                </li>

                                <li class="Box_Sologan">
                                    <div class="box_text_sologan">
                                        <i class="ti-headphone-alt icon_Approve"></i> Build PC: 0986552233
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Of Header -->

    <div class="content" style="height: 1000px;">
        @RenderBody();
    </div>

    <!-- Begin Of footer -->
    <div class="main_footer">
        <div class="footer_top">
            <div class="container_fluid">
                <div class="Content_Footer_Top">
                    <div class="letter_footer_top">
                        <h3 class="text_h3"><i class="ti-pencil-alt Icon_NewsRegister"></i> Đăng ký nhận bản tin</h3>
                        <p>Đế nhận các thông tin mới từ Techgo cũng như các chương trình khuyến mãi</p>
                    </div>

                    <div class="message_box_footer_top">
                        <form action="" class="Form_NewsRegister">
                            <div class="form_group_input_Group">
                                <input type="text" name="p" id="Text_RegisterEmail" required placeholder="Vui lòng nhập email" class="Email_Text"></input>

                                <button type="submit" class="btn_RegisterEmail">Đăng kí</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_middle">
            <div class="footer_middle_content">
                <div class="container_fluid">
                    <div class="Items_Footer_Content">
                        <div class="Items_Content Item1">
                            <h4 class="Title_middle_footer">Về TTG</h4>

                            <div class="Content_Social">
                                <p>
                                    Trang thương mại chính thức của Dũng CT - Trực Tiếp Game. Luôn tìm kiếm những sản phẩm vì game thủ.
                                </p>

                                <div class="logo_middle_footer">
                                    <a href="http://online.gov.vn/Home/WebDetails/120813?AspxAutoDetectCookieSupport=1">
                                        <img src="~/Content/IMG/Check_logo_footer.jpg" alt="" class="CheckLogoWebsite">
                                    </a>
                                </div>

                                <ul class="footer_social_navigation">
                                    <li>
                                        <a href="https://www.facebook.com/ttgshopvn" alt="facebook" class="Link_Social"><i class="ti-facebook logoSocial"></i></a>
                                    </li>

                                    <li>
                                        <a href="https://www.facebook.com/ttgshopvn" alt="twitter" class="Link_Social"><i class="ti-twitter logoSocial"></i></a>
                                    </li>

                                    <li>
                                        <a href="https://www.facebook.com/ttgshopvn" alt="ti-instagram" class="Link_Social"><i class="ti-instagram logoSocial"></i></a>
                                    </li>


                                    <li>
                                        <a href="https://www.facebook.com/ttgshopvn" alt="google" class="Link_Social"><i class="ti-google logoSocial"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="Items_Content Item2">
                            <h4 class="Title_middle_footer">Thông tin liên hệ</h4>

                            <div class="Content_Address">
                                <ul>
                                    <li class="Contact1">
                                        <i class="ti-location-pin ContactLogo"></i>
                                        CS1: 180D Thái Thịnh - Đống Đa - HN
                                        <br>
                                        CS2: 83 - 85 Thái Hà - Đống Đa - HN
                                        <br>
                                        CS3: 40 đường Vĩnh Viễn - Q10 - TP.HCM
                                    </li>

                                    <li class="Contact2">
                                        <i class="ti-mobile ContactLogo"></i>
                                        0968 239 497 - 097 221 6881
                                    </li>

                                    <li class="Contact3">
                                        <i class="ti-email ContactLogo"></i>
                                        ttgshoponline@gmail.com
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="Items_Content Item3">
                            <h4 class="Title_middle_footer">Tài Khoản Ngân Hàng</h4>

                            <div class="Content_Bank">
                                <ul class="List_Items">
                                    <li class="Items">
                                        <a href="#" alt="TK Ngân hàng">Tài Khoản Ngân Hàng</a>
                                    </li>

                                    <li class="Items">
                                        <a href="#" alt="Tìm kiếm">Tìm kiếm</a>
                                    </li>

                                    <li class="Items">
                                        <a href="#" alt="Phương thức thanh toán">Phương thức thanh toán</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="Items_Content Item4">
                            <h4 class="Title_middle_footer">Chính sách</h4>

                            <div class="Content_Privary">
                                <ul class="List_Items"></ul>
                                <li class="Items">
                                    <a href="#" alt="Chính Sách Bảo Mật">Chính Sách Bảo Mật</a>
                                </li>

                                <li class="Items">
                                    <a href="#" alt="Qui Định Bảo Hành">Qui Định Bảo Hành</a>
                                </li>

                                <li class="Items">
                                    <a href="#" alt="Chính Sách Đổi Trả">Chính Sách Đổi Trả</a>
                                </li>

                                <li class="Items">
                                    <a href="#" alt="Điều khoản sử dụng">Điều khoản sử dụng</a>
                                </li>

                                <li class="Items">
                                    <a href="#" alt="Chính sách vận chuyển & kiểm hàng" class="Text_A1">Chính sách vận chuyển &  kiểm hàng</a>
                                </li>

                                <li class="Items">
                                    <a href="#" alt="Phân định trách nhiệm của tổ chức cung ứng dịch vụ logistics" class="Text_A2">Phân định trách nhiệm của tổ chức cung ứng dịch vụ logistics</a>
                                </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer_bottom">
                <div class="container">
                    <p>
                        Copyright © 2024 Bản quyền của Công ty cổ phẩn Mocato Việt Nam - Trụ sở: 248 Phú Viên,
                        Bồ Đề,Long Biên, Hà Nội. GPĐKKD: 0109787586 do Sở Kế Hoạch và Đầu Tư Hà Nội cấp ngày 22/10/2021
                    </p>
                </div>
            </div>
        </div>
        <!-- End of footer -->
</body>

</html>