@{
    Layout = "~/Views/Shared/_ProductDetailsLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/CSS/ProductHistoryPage.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý đơn hàng</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="~/Content/CSS/CustomerLayout.css">
    <link rel="stylesheet" href="~/Content/Icon/themify-icons-font/themify-icons/themify-icons.css">
</head>


<body>
    <div class="container">
        <div class="order-management">
            <div class="tabs">
                <button class="tab active">TẤT CẢ</button>
                <button class="tab">MỚI</button>
                <button class="tab">ĐANG XỬ LÝ</button>
                <button class="tab">ĐANG VẬN CHUYỂN</button>
                <button class="tab">HOÀN THÀNH</button>
                <button class="tab">HỦY</button>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Tìm đơn hàng theo Mã đơn hàng">
                <button style="">Tìm đơn hàng</button>
            </div>
            <div class="no-orders">
                <img src="~/Content/IMG/3262386.png">
                <p>Quý khách chưa có đơn hàng nào.</p>
                <button class="continue-btn">TIẾP TỤC MUA HÀNG</button>
            </div>
        </div>
    </div>
</body>
</html>



