* {
    box-sizing: border-box;
}

.body-content {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.register-card {
    background: white;
    width: 600px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

    .register-card .register-header {
        display: flex;
        justify-content: center;
    }

    .register-card .register-header {
        padding-bottom: 16px;
    }

    .register-card .register-header {
        font-size: 1.5rem;
        font-weight: bold;
    }

        .register-card .register-header span {
            padding: 0px 16px;
        }

            .register-card .register-header span.active {
                color: black;
            }

            .register-card .register-header span.inactive a {
                color: #a9a9a9;
            }

            .register-card .register-header span a:hover {
                color: black;
            }

    .register-card .register-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

        .register-card .register-form .form-group input {
            background: #EDEDED;
            width: 100%;
            padding: 15px 20px;
            border: none;
            border-radius: 6px;
            max-width: none;
        }

        .register-card .register-form .form-group label {
            padding: 8px;
        }

        .register-card .register-form .form-group .drop-down-btn {
            width: 100%;
            max-width: none;
            background: #EDEDED;
            padding: 15px 20px;
            border: none;
            border-radius: 6px;
        }

        .register-card .register-form .form-group input#CustomerGender {
            width: auto;
            margin-right: 8px;
        }

        .register-card .register-form .form-group.action {
            text-align: center;
        }

        .register-card .register-form .form-group .register-button {
            padding: 8px 38px;
            background: #f9bb01;
            border: none;
            color: white;
            font-size: 1rem;
            text-transform: uppercase;
            border-radius: 4px;
            font-weight: bold;
        }

    .register-card p {
        text-align: center;
        padding-top: 24px;
    }

        .register-card p a {
            color: #00adff
        }
