<style>

    .Section_Main_left .site_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.53);
        z-index: -1;
        transition: .3s
    }

    .Section_Main_left .SideBar_left.active_Menu {
        position: absolute;
        z-index: 99;
        left: 12.1%;
    }

    .Section_Main {
        overflow: unset;
    }
</style>

@*Section*@
<div class="Section_Main">
    <div class="container_fluid">
        <div class="Section_Main_left" style="display:none">
            <div class="Main_Menu SideBar_left">
                <ul class="Menu_Link_Root">
                    <li class="item">
                        <a href="~/Views/Categories/PC_Gaming.cshtml">

                            Pc Gaming - Máy tính chơi game

                        </a>
                    </li>

                    <li class="item">
                        <a href="">

                            PC Workstation

                        </a>
                    </li>

                    <li class="item">
                        <a href="">

                            PC VĂN PHÒNG

                        </a>
                    </li>

                    <li class="item">
                        <a href="">

                            PC AMD GAMING

                        </a>
                    </li>

                    <li class="item">
                        <a href="">

                            PC MINI

                        </a>
                    </li>

                    <li class="item">
                        <a href="">


                            PC GIẢ LẬP - ẢO HÓA

                        </a>
                    </li>

                    <li class="item SubItem">
                        <a href="">

                            Linh kiện máy tính

                        </a>
                    </li>

                    <li class="item">
                        <a href="">

                            Build PC theo nhu cầu

                        </a>
                    </li>

                    <li class="item">
                        <a href="">

                            Màn hình

                        </a>
                    </li>

                    <li class="item SubItem">
                        <a href="">

                            Gaming Gear

                        </a>
                    </li>

                    <li class="item Dnone" style="display: none;">
                        <a href="">
                            giá treo màn hình
                        </a>
                    </li>

                    <li class="item MoreItem">
                        <span>Xem thêm</span>
                    </li>
                </ul>
            </div>
            <div class="site_overlay"></div>
        </div>
    </div>
</div>