 <!-- Begin at Header -->
<div class="templateHeader">
    <div class="mainHeader--height" >
        <header class="Main_Header">
            <div id="BG_FirstHeader">
                <div class="container_fluid">
                    <div class="box_Cotent_FirstHeader DFlex align_item_center justif_content_between ">
                        <div class="First_Header DFlex flex_NoWrap">
                            <div class="contact">
                                <span class="Title_contact">
                                    Hotline: 0968 239 497 - 097 221 6881 * Tư vấn build PC:
                                    0986552233 * Địa chỉ: CS1: 180D Thái Thịnh CS2: 83-85 Thái Hà - Đống Đa - Hà Nội
                                    CS3: 40 Đường Vĩnh Viễn - Q10 - TP.HCM
                                </span>
                            </div>

                            <div class="Shopper_Contact">
                                <a href="https://shopee.vn/tructiepgameofficialstore?utm_campaign=-&utm_content=homeshopeeweb----&utm_medium=affiliates&utm_source=an_17391710002&utm_term=bu6z9fwikv5u"
                                   class="Shoppe_Link">Mua tại shoppe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="BG_MiddleHeader">
                <div class="container_fluid">
                    <div class="flex_container_MiddleHeader">
                        <div class="Header_Logo">
                            <img src="~/Content/IMG/logo.jpg" alt="TTG_Shop_logo" class="logo">
                        </div>

                        <div class="Header_search">
                            <form action="" class="Form_Search">
                                <div class="Searching_Input">
                                    <input type="text" name="p" id="Searching" required size="20" maxlength="40"
                                           placeholder="Tìm kiếm sản phẩm" class="FindingProduct">
                                </div>

                                <button type="submit" class="btn_Finding">
                                    <i class="ti-search Finding_Icon"></i>
                                </button>
                            </form>
                        </div>

                        <div class="Header_Account_Shop">
                            <div class="flex_Container_Account">
                                <div class="Box_Account_Shop">
                                    <div class="Account">
                                        <button type="button" title="tai_khoan" class="Header_btn_account">
                                            <span class="Account_icon">
                                                <span class="IconUser">
                                                    <i class="ti-user UserIcon"></i>
                                                </span>
                                            </span>

                                            <span class="box_text_account">
                                                Đăng nhập / Đăng kí
                                                <span class="box_text_MyAccount">
                                                    Tài khoản của tôi <i class="ti-angle-down DownIcon"></i>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                </div>

                                <div class="ShopCart">
                                    <div class="Header_ShoppingCart">
                                        <button type="button" label="Gio Hang" class="Btn_Cart">
                                            <span class="Box_Icon_ShoppingCart">
                                                <span>
                                                    <i class="ti-shopping-cart Icon_ShoppingCart"></i>
                                                </span>

                                                <span class="Count_BG">
                                                    <span class="Count">0</span>
                                                </span>
                                            </span>

                                            <span class="Text_Cart">Giỏ Hàng</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="BG_last">
                <div class="container_fluid">
                    <div class="navigation_Menu menu-clicked">
                        <div class="Box_Menu">
                            <span>
                                <i class="ti-layout-menu-v Icon_Menu"></i>
                                <span class="Text_menu">Danh Mục Sản Phẩm</span>
                            </span>
                        </div>
                    </div>

                    <div class="Sologan_Shop">
                        <div class="box_Sologan_policy">
                            <ul>
                                <li class="Box_Sologan">
                                    <div class="box_text_sologan">
                                        <i class="ti-check icon_Approve"></i> Đảm bảo chất lượng
                                    </div>
                                </li>

                                <li class="Box_Sologan">
                                    <div class="box_text_sologan">
                                        <i class="ti-truck icon_Approve"></i> Vận chuyển siêu tốc
                                    </div>
                                </li>

                                <li class="Box_Sologan">
                                    <div class="box_text_sologan">
                                        <i class="ti-headphone-alt icon_Approve"></i> Build PC: 0986552233
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
<!-- End Header -->
