<!-- Section -->
<div class="Section_Main">
    <div class="container_fluid">
        <div class="Flex_Section_Main_Items">
            <div class="Section_Main_left">
                <div class="Main_Menu SideBar_left">
                    <ul class="Menu_Link_Root">
                        <li class="item">
                            <a href="~/Views/Categories/PC_Gaming.cshtml">

                                Pc Gaming - Máy tính chơi game

                            </a>
                        </li>

                        <li class="item">
                            <a href="~/Views/Categories/PC_Working.cshtml">

                                PC Workstation

                            </a>
                        </li>

                        <li class="item">
                            <a href="~/Views/Categories/PC_VanPhong.cshtml">

                                PC VĂN PHÒNG

                            </a>
                        </li>

                        <li class="item">
                            <a href="~/Views/Categories/PC_AMD_Gaming.cshtml">

                                PC AMD GAMING

                            </a>
                        </li>

                        <li class="item">
                            <a href="~/Views/Categories/PC_MINI.cshtml">

                                PC MINI

                            </a>
                        </li>

                        <li class="item">
                            <a href="~/Views/Categories/PC_GiaLap_MoPhong.cshtml">


                                PC GIẢ LẬP - ẢO HÓA

                            </a>
                        </li>

                        <li class="item SubItem">
                            <a href="~/Views/Categories/Linhkien_PhuKKien.cshtml">

                                Linh kiện máy tính

                            </a>
                        </li>

                        <li class="item">
                            <a href="">

                                Build PC theo nhu cầu

                            </a>
                        </li>

                        <li class="item">
                            <a href="~/Views/Categories/ManHinh.cshtml">

                                Màn hình

                            </a>
                        </li>

                        <li class="item SubItem">
                            <a href="~/Views/Categories/Gaming_Gear.cshtml" >

                                Gaming Gear

                            </a>
                        </li>

                        <li class="item Dnone" style="display: none;">
                            <a href="~/Views/Categories/KhungSatTreoManHinh.cshtml">
                                giá treo màn hình
                            </a>
                        </li>

                        <li class="item MoreItem">
                            <span>Xem thêm</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="Section_Main_right">
                <div class="row">
                    <div class="Left_Banner col-lg-8 col-md-12 col-12 p-0" id="Left_Slider">
                        <div class="Inside_Left_Slider">
                            <div class="slider-owl owl-carousel owl-loaded owl-drag">
                                <div class="Owl-stage-outer">
                                    <div class="Owl-stage" style="width:747px">
                                        <div class="Owl-item" style="width:746.656px">
                                            <div class="Slider-Item" style="position:relative">
                                                <div class="Slider_img">
                                                    <a href="#">
                                                        <img style=" max-width: 763px; height: 505px; " src="~/Content/IMG/Banner1.png" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="Right_Banner col-lg-4 col-md-12 col-12">
                        <div class="Group_Banner_Right">
                            <div class="Box-Banner Box_Top">
                                <a href="#" aria-label="Gaming_Pc" class="Banner_Link Banner_Link_Top">
                                    <img src="~/Content/IMG/Banner2.png" />
                                </a>
                            </div>

                            <div class="Box-Banner Box_Margin">
                                <a href="#" aria-label="PC AMD GAMING" class="Banner_Link">
                                    <img src="~/Content/IMG/Banner3.png" />
                                </a>
                            </div>


                            <div class="Box-Banner Box_Margin">
                                <a href="#" aria-label="Pc worker_Render" class="Banner_Link">
                                    <img src="~/Content/IMG/Banner4.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Section -->