@{
    Layout = "~/Views/Shared/_ShoppingCartLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/CSS/ShoppingCart.css" />

<div class="Layout_Cart">


    <div class="Wrapper_Main_Content_Layout_Cart">
        <div class="Content_Layout_Cart">
            <div class="container_fluid">
                <div class="row">
                    <div class="col-lg-8 col-12 contentCart-detail">
                        <div class="Main_Details">
                            <h1 class="Heading_Cart">
                                Giỏ hàng của bạn
                            </h1>

                            <div class="Main_Cointainer_for_ListPageForm">
                                <form action="" method="post" id="cartFormPage">
                                    <div class="Cart_row">
                                        <div class="What_Items_You_Put_On_Cart">
                                            Bạn đang có 1 sản phẩm
                                        </div>


                                        <div class="cointainer_ItemsCart">
                                            <div class="Items_Collection">
                                                <div class="Left">
                                                    <div class="Items-img">

                                                        @*
                                                            Link tới trang sản phẩm trong giỏ hàng
                                                        *@
                                                        <a href="#">
                                                            <img src="~/Content/IMG/Product_Page_Img/Product1.jpg" />
                                                        </a>
                                                    </div>

                                                    <div class="Item-Remove">

                                                        <button class="Btn_Remove_Cart">

                                                            <span class="Remove_Span">Xóa</span>


                                                        </button>

                                                    </div>
                                                </div>


                                                <div class="right">
                                                    <div class="Items_Info">

                                                        <h3 class="Title_Items">


                                                            @*
                                                                Link tới trang sản phẩm
                                                            *@
                                                            <a href="#">

                                                                PC BEST FOR GAMING i5 10400F- GTX 1660 Super 6GB(Tất cả linh kiện đều All New - bảo hành 36 tháng) - 16 slots - 8HN - 8 HCM


                                                            </a>

                                                        </h3>

                                                        <div class="Variant_Items">
                                                            <span>

                                                                Ram 16GB / SSD 256GB

                                                            </span>
                                                        </div>

                                                    </div>

                                                    <div class="Items_Price">

                                                        <p class="Price">

                                                            <span class="Reduce_Price">

                                                                9,990,000₫

                                                            </span>


                                                            <del class="Orignal_Price">
                                                                11,990,000₫
                                                            </del>

                                                        </p>

                                                    </div>
                                                </div>


                                                <div class="Total">

                                                    <div class="Price_Total">

                                                        <div class="Title_Price">
                                                            <span class="line-item-total">9,990,000₫</span>
                                                        </div>

                                                    </div>


                                                    <div class="Item_quantity">
                                                        @* Count Your Buying and Some Button to buy or add On cart  *@
                                                        <div class="Product_Count_And_BtnForBuying">
                                                            <div class="BlockForBtnBuyingAndProductCount clearfix">
                                                                <div class="Product_Count">
                                                                    <button class="Decrease_Count qtybtn" type="button" onclick="changeQuantity(-1)">-</button>
                                                                    <input type="text" value="1" min="1" class="Quantity-Product" onchange="updateTotal()" />
                                                                    <button class="Upper_Count qtybtn" type="button" onclick="changeQuantity(1)">+</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-4 col-12 sidebarCart-sticky">
                        <div class="Wrapper-Pay_Layout">
                            <div class="Pay_Top_Layout Sumary_Block">
                                <h2 class="Pay_Tittle">Thông tin đơn hàng</h2>

                                <div class="Time_Shipping">
                                    <div class="Inside_Box_Time">
                                        <div class="Box_Time_Title">
                                            <p class="txt_title">Thời gian giao hàng</p>
                                            <p class="txt_time">
                                                <i class="far fa-clock"></i>
                                                <span>Chọn thời gian</span>
                                            </p>
                                        </div>


                                        <div class="Box_Time_Radio" id="picktime_radio">
                                            <div class="Radio_item">
                                                <input type="radio" class="input-radio" id="timeRadios-1" name="timeRadios" />
                                                <label class="label-radio" for="timeRadios-1">Giao khi có hàng</label>
                                            </div>

                                            <div class="Radio_item">
                                                <input type="radio" class="input-radio" id="timeRadios-2" name="timeRadios" />
                                                <label class="label-radio" for="timeRadios-2">Chọn thời gian</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="Pay_Total">
                                    <p>
                                        Tổng tiền
                                        <span>0₫</span>
                                    </p>
                                </div>


                                <div class="Pay_action_Notice">
                                    <p>
                                        Phí vận chuyển sẽ được tính ở trang thanh toán.
                                    </p>


                                    <p>
                                        Bạn cũng có thể nhập mã giảm giá ở trang thanh toán.
                                    </p>

                                    <p>
                                        Bạn cũng có thể nhập mã giảm giá ở trang thanh toán.
                                    </p>

                                    <div class="Box_Notice" style="display:block">

                                        Giỏ hàng của bạn hiện chưa đạt mức tối thiểu để thanh toán.

                                    </div>
                                </div>


                                <div class="Pay_Btn">
                                    <a id="btnCart-checkout" class="checkout-btn btnred disabled" href="#">
                                        THANH TOÁN
                                    </a>
                                </div>
                            </div>

                            <div class="Primary_Layout_Pay Sumary_Block">
                                <div class="Block_Primary_Layout_Pay">
                                    <p class="Heading_Block_Primary_Layout_Pay">
                                        <strong>Chính sách mua hàng</strong>
                                        :
                                    </p>

                                    <p>
                                        Hiện chúng tôi chỉ áp dụng thanh toán với đơn hàng có giá trị tối thiểu
                                        <strong>40.000₫ </strong>  trở lên.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script language="javascript">

    const Price_AfterChangeQuantity = 9990000;

    function changeQuantity(ammount) {
        const quantityInput = document.querySelector('.Quantity-Product');

        let currentQuantity = parseInt(quantityInput.value);

        currentQuantity += ammount;


        // Đảm bảo số lượng không nhỏ hơn 1
        if (currentQuantity < 1) {
            currentQuantity = 1;
        }

        quantityInput.value = currentQuantity;
        updateTotal();
    }

    function updateTotal() {
        const quantity = parseInt(document.querySelector('.Quantity-Product').value);
        const total = quantity * Price_AfterChangeQuantity;

        // Cập nhật giá tạm tính
        document.querySelector('.line-item-total').innerHTML = `
            <div>${total.toLocaleString('vi-VN')}</div>`;
     }

    // Khởi tạo tổng khi trang được tải
    updateTotal();

</script>