@{
    Layout = null;
}


<link rel="stylesheet" href="~/Content/CSS/CheckOutPage.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<div class="Content">
    <div class="container">


        <!-- Left Panel -->

        <div class="left-panel">
            <div class="main-header">
                <a href="~/Home/HomePage" class="Logo">
                    <h1 class="Logo_Text">
                        TTGShop - Phụ kiện Game Thủ |Tư vấn Build PC| giá rẻ - www.ttgshop.vn
                    </h1>
                </a>
            </div>

            <div class="main_content">
                <div class="Form_Text">
                    <div class="Form_Content">
                        <div class="step">
                            <div class="step_Header">
                                <h2 class="section-title">Thông tin giao hàng</h2>
                            </div>


                            <div class="step_Info_Account">
                                <p class="step_ConfirmAccount">
                                    Bạn đã có tài khoản?
                                    <a href="~/Account/Login">
                                        Đăng nhập
                                    </a>
                                </p>
                                <div>
                                    <div class="form-group">
                                        <label for="name">Họ và tên</label>
                                        <input type="text" id="name" placeholder="Họ và tên">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group half-width">
                                            <label for="email">Email</label>
                                            <input type="email" id="email" placeholder="Email">
                                        </div>
                                        <div class="form-group half-width">
                                            <label for="phone">Số điện thoại</label>
                                            <input type="tel" id="phone" placeholder="Số điện thoại">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                        <div>
                                            <div>
                                                <div>
                                                    <div class="form-group">
                                                        <label for="address">Địa chỉ</label>
                                                        <input type="text" id="address" placeholder="Địa chỉ">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div>
                                                        <div class="form-group third-width">
                                                            <label for="province">Tỉnh / Thành</label>
                                                            <select id="province" name="province">
                                                                <option>Chọn tỉnh / thành</option>
                                                                <option>Hồ Chí Minh</option>
                                                                <option>Hà Nội</option>
                                                                <option>Đà Nẵng</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group third-width">
                                                        <label for="district">Quận / Huyện</label>
                                                        <select id="district" name="district">
                                                            <option>Chọn quận / huyện</option>
                                                            <option>Quận 1</option>
                                                            <option>Quận 3</option>
                                                            <option>Quận 5</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group third-width">
                                                        <div class="form-group third-width">
                                                            <label for="ward">Phường / Xã</label>
                                                            <select id="ward" name="ward">
                                                                <option>Chọn phường / xã</option>
                                                                <option>Phường 1</option>
                                                                <option>Phường 2</option>
                                                                <option>Phường 3</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           </div>
                                        </div>
                                   </div>




                            <div class="Change_PickLocation_Or_Shipping">
                                <div class="Section_Shipping">

                                </div>

                                <div id="Section_Method_Payment" class="section">
                                    <div class="step_Header">
                                        <h2 class="section-title">Phương thức thanh toán</h2>
                                    </div>

                                    <div class="step_content">
                                        <div class="Content_Box">
                                            <div class="radio-wrapper content-box-row">
                                                <input type="radio" id="cod" name="payment" checked>
                                                <label for="cod">Thanh toán khi giao hàng (COD)</label>
                                                <i class="fa fa-money"></i>
                                            </div>

                                            <div class="radio-wrapper content-box-row">
                                                <input type="radio" id="bank-transfer" name="payment">
                                                <label for="bank-transfer">Chuyển khoản qua ngân hàng</label>
                                                <i class='fas fa-money-check'></i>
                                                <p>Số tài khoản: 0000 1782 871<br>Chủ tài khoản: Phan Anh Vũ</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="Form_footer">

                    </div>
              
                </div>
            </div>
        </div>



        <!-- Right Panel -->
        <div class="right-panel">
            <div class="order-summary">
                <div class="product-header">
                    <img src="~/Content/IMG/Product_Items_Img/CollectionProduct_11.png" alt="PC MAX PERFORMANCE GAMING" class="product-image">
                    <h3>PC MAX PERFORMANCE GAMING</h3>
                </div>
                <p>i5 12400F - RTX 3070 Ti 8GB OC WHITE (ALL NEW - Bảo hành 36 Tháng)</p>
                <p>Đơn giá: 21,980,000₫</p>
                <p>Phí vận chuyển:</p>
            </div>




            <div class="discount-code">
                <label for="discount">Mã giảm giá</label>
                <input type="text" id="discount" placeholder="Nhập mã giảm giá">
                <button class="apply-button">Sử dụng</button>
            </div>




            <div class="total">
                <p>Tổng cộng: <span class="total-price">21,980,000₫</span></p>
            </div>
            <button class="btn-submit">Hoàn tất đơn hàng</button>
        </div>
    </div>
</div>
