@{
    Layout = null;
}
<link rel="stylesheet" href="~/Content/CSS/CheckOutPage.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<div class="Content">
    <div class="container">


        <!-- Left Panel -->

        <div class="left-panel">
            <div class="main-header">
                <a href="~/Home/HomePage" class="Logo">
                    <h1 class="Logo_Text">
                        TTGShop - Phụ kiện Game Thủ |Tư vấn Build PC| giá rẻ - www.ttgshop.vn
                    </h1>
                </a>
            </div>

            <div class="main_content">
                <div class="Form_Text">
                    <div class="Form_Content">
                        <div class="step">
                            <div class="step_Header">
                                <h2 class="section-title">Thông tin giao hàng</h2>
                            </div>


                            <div class="step_Info_Account">
                                <p class="step_ConfirmAccount">
                                    Bạn đã có tài khoản?
                                    <a href="~/LoginPage/LoginPage">
                                        Đăng nhập
                                    </a>
                                </p>

                                <div class="Field_Set">
                                    <div class="Field FieldName">
                                        <div class="Field_Input_Box">
                                            <input type="text" id="name" name="name" class="Field_Input" placeholder="Họ và tên">
                                        </div>
                                    </div>

                                    <div class="Field EmailField Field_Two">
                                        <div class="Field_Input_Box">
                                            <input type="email" id="email" name="email" class="Field_Input" placeholder="Email">
                                        </div>
                                    </div>

                                    <div class="Field FieldRequird PhoneField Field_Three">
                                        <div class="Field_Input_Box">
                                            <input type="text" maxlength="15" id="name" name="name" class="Field_Input" placeholder="Số điện thoại">
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="step_ChoseAddress">
                                <div class="Field_Set">
                                    <form method="post" class="Field" id="form_update_shipping_method" accept-charset="UTF-8">
                                        <div class="content-box">
                                            <div class="Inside_Address_Box">
                                                <div class="Field FieldRequird AddressField">
                                                    <div class="Field_Input_Box">
                                                        <input type="text" id="address" name="address" class="Field_Input" placeholder="Địa chỉ">
                                                    </div>
                                                </div>

                                                <div class="Field FieldRequird Field_Three FieldLocation City">
                                                    <div class="Field_Input_Box">
                                                        <select class="Field_Input" id="customer_shipping_city" name="customer_shipping_city">
                                                            <option>Chọn Tỉnh thành</option>

                                                            <option>Hồ Chí Minh</option>
                                                        </select>
                                                    </div>
                                                </div>



                                                <div class="Field FieldRequird Field_Three FieldLocation District">
                                                    <div class="Field_Input_Box">

                                                        <select class="Field_Input" id="customer_shipping_city" name="customer_shipping_city">
                                                            <option>Chọn Quận/Huyện</option>

                                                            <option>Quận 3</option>

                                                            <option>Quận 5</option>

                                                            <option>Quận 6</option>
                                                        </select>

                                                    </div>
                                                </div>



                                                <div class="Field FieldRequird Field_Three FieldLocation Ward">
                                                    <div class="Field_Input_Box">
                                                        <select class="Field_Input" id="customer_shipping_city" name="customer_shipping_city">
                                                            <option>Chọn Phường/Xã</option>

                                                            <option>Phường 8</option>

                                                            <option>Phường 12</option>

                                                            <option>Phường 13</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>




                            <div class="Change_PickLocation_Or_Shipping">
                                <div class="Section_Shipping">

                                </div>

                                <div id="Section_Method_Payment" class="section">
                                    <div class="step_Header">
                                        <h2 class="section-title">Phương thức thanh toán</h2>
                                    </div>

                                    <div class="step_content">
                                        <div class="Content_Box">
                                            <div class="radio-wrapper content-box-row">

                                            </div>

                                            <div class="radio-wrapper content-box-row">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="Form_footer">

                    </div>
              
                </div>
            </div>
        </div>



        <!-- Right Panel -->
        <div class="right-panel">
            <div class="order-summary">
                <div class="product-header">
                    <img src="~/Content/IMG/Product_Items_Img/CollectionProduct_11.png" alt="PC MAX PERFORMANCE GAMING" class="product-image">
                    <h3>PC MAX PERFORMANCE GAMING</h3>
                </div>
                <p>i5 12400F - RTX 3070 Ti 8GB OC WHITE (ALL NEW - Bảo hành 36 Tháng)</p>
                <p>Đơn giá: 21,980,000₫</p>
                <p>Phí vận chuyển:</p>
            </div>




            <div class="discount-code">
                <label for="discount">Mã giảm giá</label>
                <input type="text" id="discount" placeholder="Nhập mã giảm giá">
                <button class="apply-button">Sử dụng</button>
            </div>




            <div class="total">
                <p>Tổng cộng: <span class="total-price">21,980,000₫</span></p>
            </div>
            <button class="btn-submit">Hoàn tất đơn hàng</button>
        </div>
    </div>
</div>
