@model WebBanMayTinh.Models.ViewModel.ProductDetailsSearchVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<style>
    * {
        margin: 0;
        padding: 0;
        font-size: 16px;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }


    .Box_Button_Add {
        justify-content: flex-end;
    }


        .Box_Button_Add .Btn_AddProduct {
            box-shadow: 0px 0px 1px 2px red;
            border-radius: 68% 65% 62% 59%;
        }


    .Btn_AddProduct > p {
        position: relative;
        top: 8px;
        left: 6px;
    }



    .Btn_AddProduct > p {
        position: relative;
        top: 7px;
        left: 9px;
    }

    .Form_Search .search-bar {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    input {
        max-width: 330px;
    }

    .form-group .btn-finding {
        background-color: bisque;
        margin-left: 15px;
    }
</style>



<h2>Sản Phẩm</h2>



@using (Html.BeginForm("Index", "Products", FormMethod.Get, new { @class = "Form_Search" }))
{
    <div class="form-group search-bar">

        @Html.TextBoxFor(m => m.SearchTerm, new
        {
            @class = "form-control",
            @placeholder = "Nhập vào tên sản phẩm bạn cần tìm kiếm"
        })


        <button type="submit" class="btn btn-finding">Tìm kiếm</button>
    </div>
}



@Html.Partial("PV_IndexProduct", Model)






<div class="d-flex Box_Button_Add">

    @*    Nút tạo thêm product     *@
    <div class="col-1 Btn_AddProduct">
        <p>
            @Html.ActionLink("Thêm Product", "Create")
        </p>
    </div>


    @*Phần hiển thị Phân Trang*@
</div>
